[submodule "sdat2img"]
	path = sdat2img
	url = git@github.com:xpirt/sdat2img.git
[submodule "extract_android_ota_payload"]
	path = extract_android_ota_payload
	url = git@github.com:cyxx/extract_android_ota_payload.git
